.photo-grid {
	margin: auto;
	width: 1184px;
	height: 442px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 16px;
}

@media screen and (max-width: 768px) {
	.photo-grid {
		margin: 0px auto 90px;
		width: 720px;
		height: 1104px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 16px;
	}
}

@media screen and (max-width: 320px) {
	.photo-grid {
		width: 288px;
		height: 1812px;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 12px;
	}
}
