.card-grid {
	display: grid;
	grid-template-areas:
		'image paragraph'
		'image paragraph';
	grid-gap: 40px;
}

@media screen and (max-width: 768px) {
	.card-grid {
		gap: 28px;
	}
}

@media screen and (max-width: 320px) {
	.card-grid {
		grid-template-areas:
			'image'
			'paragraph';
	}
}
