.cover {
	position: relative;
	margin: auto;
	margin-top: 92px;
	text-align: center;
	width: 1184px;
	height: 740px;
	background-image: url(../../images/cover/overlay.png);
	transition: all 0.3s ease-in-out;
}

.cover:hover .cover__background {
	opacity: 0.3;
}

@media screen and (max-width: 768px) {
	.cover {
		width: 768px;
		height: 746px;
	}
}

@media screen and (max-width: 320px) {
	.cover {
		width: 320px;
		height: 254px;
	}
}
