.cover__subtitle {
	margin: auto;
	width: 280px;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 20px;
}

@media screen and (max-width: 320px) {
	.cover__subtitle {
		font-size: 14px;
		line-height: 16px;
	}
}
