.card {
	margin: 92px auto 0;
	width: 984px;
	height: 756px;
}

/* tambahan kelas untuk margin di kampung halamanku */
.card_margin_top {
	margin-top: 154px;
}

@media screen and (max-width: 768px) {
	.card {
		width: 720px;
		height: 626px;
	}

	/* tambahan kelas untuk margin di kampung halamanku */
	.card_margin_top {
		margin-top: 299px;
	}
}

@media screen and (max-width: 320px) {
	.card {
		width: 320px;
		height: max-content;
	}

	/* tambahan kelas untuk margin di kampung halamanku */
	.card_margin_top {
		margin-top: 80px;
	}
}
